# vim: ft=yaml:
---
# https://github.com/friendlyanon/cmake-init/blob/master/cmake-init/templates/common/.clang-tidy
# https://github.com/filipdutescu/modern-cpp-template/blob/master/.clang-tidy

# Enable ALL the things! Except not really
# misc-non-private-member-variables-in-classes: the options don't do anything
Checks: "*,-abseil-*,-altera-id-dependent-backward-branch,-altera-unroll-loops,-bugprone-easily-swappable-parameters,-concurrency-mt-unsafe,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-fuchsia-*,-google-readability-todo,-google-runtime-int,-hicpp-no-array-decay,-llvm-header-guard,-llvm-include-order,-llvmlibc-*,-modernize-use-trailing-return-type,-readability-identifier-length,-readability-identifier-naming,-readability-magic-numbers,-zircon-*,fuchsia-multiple-inheritance,-misc-non-private-member-variables-in-classes,-clang-diagnostic-unused-macros,-cppcoreguidelines-pro-bounds-pointer-arithmetic"
